* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/congruent_pentagon.png");
    text-shadow: 2px 2px 2px #8ddfcc;
}

.box{
  box-shadow: 0 14px 28px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0  rgba(0,0,0,.12);
  border-radius: 24px;
}

.row{
  margin-top: 15px;
  margin-bottom: 15px;
  border-left: 9px solid rgb(90,152,163);
  padding: 14px;
  border-radius: 20px;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
}

.box1{
  background-color: rgb(133,215,169);
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  margin-bottom: 14px;
  padding-left: 5px;
  font-style: oblique;
  text-shadow: 4px 4px 4px rgb(52,183,135);
  font-size: 20px;
}

.box2{
  background-color: rgb(141,223,204);
  padding: 14px;
  margin-bottom: 14px;
  font-size: 13px;
}

.box3, .box4, .box7{
  height: 78px;
  margin-bottom: 14px;
  padding-left: 14px;
}

.box3, .box6, .box7{
  padding-left: 16px;
  padding-top: 10px;
}

.box3, .box4{
  background-color: rgb(90,152,163)
}

.box4{
  line-height: 75%;
  text-align: justify;
  padding-left: 19px;
  padding-top: 14px;
}

.crystal{
  width: 24%;
  display: inline;
  margin-bottom: 14px;
  margin-top: 14px;
  border: 12px solid rgb(48,68,132);
  border-radius: 20px;
}

.box5{
  margin-bottom: 14px;
  background-color: rgb(48,68,132);
}

.box5:first-child{
  padding-left: 13px;
}

.box6, .box7{
  width: 35%;
}

.box6{
  background-color: rgb(141,223,204);
  height: 35px;
  margin-bottom: 7px;
  padding-left: 14px;
}

/*#totalScore {
  font-size: 21px;
}*/

.box7{
  height: 120px;
  background-color: rgb(156,242,209);
}
